bluepyopt==1.13.90
cmaes==0.8.2
cmaes==0.9.1
efel==4.1.31
efel==4.1.54
inspyred==1.0.1
ipyparallel==8.6.1
matplotlib==3.6.1
matplotlib==3.6.2
matplotlib==3.5.1
nest==0.4.1
nest_simulator==3.3
nest_simulator.egg==info
NEURON==8.2.1
NEURON==8.2.2
nrn==0.3.21
numpy==1.23.4
numpy==1.24.1
numpy==1.21.5
pygmo==2.16.1
PyQt5==5.15.9
PyQt5_sip==12.11.0
scipy==1.8.0
